body { padding-top: 70px; }

#mapid {
  height: 700px;
  width: 100%;
  background-color: #fbfbfb;
  float: left;
}

#infoparent {
  width: 100%;
  height: 650px;
  background-color: #a2a2a2;
  float: right;
  font-size: 12px;
}

#info {
  background-color: #fafafa ;
}

#tracking {
  background-color: #fcfcfc;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: default !important;
}
/* Change cursor when over entire map */
.leaflet-container {
  cursor: default !important;
}

.my-div-span {
  font-size: 10px;
}
